.App {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  text-align: center;
  height: 100vh;
  background-image: url(https://media.istockphoto.com/photos/abstract-geometric-network-polygon-globe-graphic-background-picture-id1208738316?b=1&k=20&m=1208738316&s=170667a&w=0&h=f4KWULKjL770nceDM6xi32EbfIgMtBwSp5fPxIx08wc=);
  background-size: cover;
  color:white;
  overflow: hidden;
}
footer{
  display: flex;
  justify-content: center;
}
footer span{
  color:white;
}
